@charset "utf-8";
<<<<<<< HEAD
 
=======

>>>>>>> selectors-olabayode
.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;    
}

body {
  background-color: #171820;
  font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
}
<<<<<<< HEAD
 
.flex {
  display: flex;
}
 
=======



.flex {
  display: flex;
}

>>>>>>> selectors-olabayode
.content {
  align-items: center;
  justify-content: center;
}
<<<<<<< HEAD
 
=======


>>>>>>> selectors-olabayode
.space-between {
  justify-content: space-between;
}

p, li {
  color: #fff;
}
<<<<<<< HEAD
 
=======


>>>>>>> selectors-olabayode
.page-header {
  background-color: #3b3c4559;
  line-height: 56px;
}
<<<<<<< HEAD
 
=======

>>>>>>> selectors-olabayode
h1 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(20, 103, 248);
  letter-spacing: 1px;
}
<<<<<<< HEAD
 
.logo, .user-info {
  width: 15%;
}
 
.nav-list {
  width: 70%;
}

nav ul{
  gap: 15px;
  list-style: none;
}
 
=======

.logo, .user-info {
  width: 15%;
}

.nav-list {
  width: 70%;
}
nav ul{
    gap: 15px;
    list-style: none;
}

>>>>>>> selectors-olabayode
nav ul li a {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}
<<<<<<< HEAD
 
nav ul li a:hover {
  color: #4080ee;
}
 
=======

nav ul li a:hover {
  color: #4080ee;
}

>>>>>>> selectors-olabayode
ul li {
  align-items: center;
  justify-content: center;
}

.user-info img {
<<<<<<< HEAD
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
  cursor: pointer;
}
 
span{
  color: #fff;
}
 
=======
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
    cursor: pointer;
}

span{
    color: #fff;
}


>>>>>>> selectors-olabayode
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
<<<<<<< HEAD
 
=======

>>>>>>> selectors-olabayode
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 0;
}

main {
  display: grid;
  place-items: center;
}

<<<<<<< HEAD


=======
>>>>>>> selectors-olabayode
.input-text {
  margin-top: 56px;
  padding: 12px;
  height: auto;
<<<<<<< HEAD
  width: 700px;              
=======
  width: 500px;
>>>>>>> selectors-olabayode
  font-size: 17px;
  border-radius: 4px;
  background-color: #3b3c4559;
}

.post-input textarea {
  width: 100%;
<<<<<<< HEAD
  height: 200px;            
=======
  height: 150px;
>>>>>>> selectors-olabayode
  border: none;
  color: #fff;
  background-color: transparent;
  resize: none;
}

input[type="file"], input[type="button"] {
  color: #fff;
}
<<<<<<< HEAD
 
=======

>>>>>>> selectors-olabayode
input[type=button], .close {
  height: 35px;
  width: 62px;
  border: 1px;
  border-radius: 4px;
  background-color: #1467f8;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
<<<<<<< HEAD
 
input[type=button]:hover, .close:hover {
  background-color: #2675fd;
}
 
label {
  margin-top: 10px;
}
 
=======

input[type=button]:hover, .close:hover {
  background-color: #2675fd;

}

label {
  margin-top: 10px;
}

>>>>>>> selectors-olabayode
i {
  color: #fff;
  font-size: 22px;
}

.post-image {
  display: none;
}
<<<<<<< HEAD
 
span{
  cursor: pointer;
}
 
=======

.posted-image {
    object-fit: contain;
    width: 100%;
}    

span{
  cursor: pointer;
}

>>>>>>> selectors-olabayode
.file-info {
  margin: 10px 0 0 5px;
  font-size: 15px;
  color: #fff;
}
<<<<<<< HEAD
 
.show-post {
  width: 700px;              
  transform: rotateX(180deg);
}
 
=======

.show-post {
  width: 500px;
  height: auto;
  object-fit: contain;
}

>>>>>>> selectors-olabayode
.the-post.data {
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  margin: 20px 0;
<<<<<<< HEAD
  transform: rotateX(180deg);
}
 
.the-post p {
  color: #000;
}
 
.post-header{
  height: 45px;
}
 
.post-header img{
  border-radius: 50%;
  height: 42px;
  width: 42px;
}
 
.post-header h3 {
  line-height: 45px;
}
 
.post-header p {
  color: #000;
  line-height: 45px;
}
 
=======
}

.the-post p {
  color: #000;
  padding-left: 40px;
}

.post-header{
  height: 45px;
  justify-content: space-between;

}

.post-header img{
  border-radius: 50%;
  height: 45px;
  width: 45px;
}


.post-header p {
  color: #000;
}

>>>>>>> selectors-olabayode
.modal {
  width: 280px;
  position: fixed;
  top: 50%;
  left: 50%;
  cursor: default;
  overflow: hidden;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translate(-50%, -52%);
      -moz-transform: translate(-50%, -52%);
          transform: translate(-50%, -52%);
}
<<<<<<< HEAD
 
=======

>>>>>>> selectors-olabayode
.modal.isvisible {
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
<<<<<<< HEAD
 
=======

>>>>>>> selectors-olabayode
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 5555;
  opacity: 0;
  visibility: hidden;
  background-color: rgb(16 18 20 / 0.55);
  cursor: pointer
}
<<<<<<< HEAD
 
=======

>>>>>>> selectors-olabayode
.overlay.isvisible {
  opacity: 1;
  visibility: visible;
}

.subscriber-info {
  display: grid;
  place-items: center;
  width: 280px;
  padding: 20px;
  background-color: #24252d;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.25);
  overflow: hidden;
}
<<<<<<< HEAD
 
=======

>>>>>>> selectors-olabayode
.user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
<<<<<<< HEAD
 
=======

>>>>>>> selectors-olabayode
.subscriber-info h2 {
  font-size: 28px;
  font-weight: 800;
  margin: 10px 0 0;
  color: #fff;
}
<<<<<<< HEAD
 
=======

>>>>>>> selectors-olabayode
.subscriber-info .username {
  margin: 0 0 15px;
  font-size: 15px;
  color: rgb(161 164 178);
}
<<<<<<< HEAD
 
=======

>>>>>>> selectors-olabayode
.subscriber-info i {
  padding-right: 7px;
  width: 20px;
  font-size: 14px;
}
<<<<<<< HEAD
 
.subscriber-info .pages i {
  font-size: 16px;
}
 
.subscriber-info .groups i {
  font-size: 12px;
}
 
.close {
  margin-top: 15px;
  color: #fff;
}

/* 
   RESPONSIVE STYLES
 */


@media (max-width: 900px) {

  
  .input-text,
  .display-post {
    width: 80%;         
    max-width: 700px;
    margin-inline: auto;
  }

  .posts-input textarea {
    height: 160px;      
  }
}


@media (max-width: 300px) {

 
  .page-header .container {
    flex-direction: column;
    gap: 10px;
  }

  .logo, .nav-list, .user-info {
    width: 100%;
    text-align: center;
  }

  nav ul {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .input-text,
  .display-post {
    width: 100%;
    max-width: none;
    margin-inline: auto;
    padding: 12px;
  }

  
.input-text,
.display-post {
  width: clamp(300px, 70%, 900px);
  margin-inline: auto;
}

.posts-input textarea {
  height: clamp(120px, 25vw, 220px);
}


  .posts-input textarea {
    height: 200px;      
  }

  .posts-input .flex {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  input[type=button] {
    width: 100%;
  }
=======

.subscriber-info .pages i {
  font-size: 16px;
}

.subscriber-info .groups i {
  font-size: 12px;
}

.close {
  margin-top: 15px;
  color: #fff;
>>>>>>> selectors-olabayode
}