@charset "utf-8";
 
.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;    
}

body {
  background-color: #171820;
  font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
}
 
.flex {
  display: flex;
}
 
.content {
  align-items: center;
  justify-content: center;
}
 
.space-between {
  justify-content: space-between;
}