@charset "utf-8";
 
.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;    
}

body {
  background-color: #171820;
  font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
}
 
.flex {
  display: flex;
}
 
.content {
  align-items: center;
  justify-content: center;
}
 
.space-between {
  justify-content: space-between;
}

p, li {
  color: #fff;
}
 
.page-header {
  background-color: #3b3c4559;
  line-height: 56px;
}
 
h1 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(20, 103, 248);
  letter-spacing: 1px;
}
 
.logo, .user-info {
  width: 15%;
}
 
.nav-list {
  width: 70%;
}

nav ul{
  gap: 15px;
  list-style: none;
}
 
nav ul li a {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}
 
nav ul li a:hover {
  color: #4080ee;
}
 
ul li {
  align-items: center;
  justify-content: center;
}

.user-info img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
  cursor: pointer;
}
 
span{
  color: #fff;
}
 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
 
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 0;
}